# Python for Machine Learning

This notebook covers core Python concepts required for Machine Learning and Data Science.

### Topics Covered
- Variables and Data Types
- Control Flow
- Functions
- Data Structures
- List & Dict Comprehensions
- Lambda Functions
- Error Handling

# Variables & Data Types

In [1]:
# Basic data types
x = 10              # int
y = 3.14            # float
name = "ML Engineer"  # string
is_ready = True     # boolean

type(x), type(y), type(name), type(is_ready)

(int, float, str, bool)

# Control Flow

In [2]:
score = 85

if score >= 90:
    grade = "A"
elif score >= 75:
    grade = "B"
else:
    grade = "C"

grade

'B'

# Loops

In [3]:
for i in range(5):
    print(f"Iteration {i}")

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4

# Functions

In [4]:
def accuracy(correct, total):
    return correct / total

accuracy(90, 100)

0.9

# Data Structures

In [5]:
# List
features = ["age", "salary", "experience"]

# Tuple
shape = (100, 3)

# Set
unique_labels = {0, 1}

# Dictionary
model_params = {"lr": 0.01, "epochs": 100}

features, shape, unique_labels, model_params

(['age', 'salary', 'experience'],
 (100, 3),
 {0, 1},
 {'lr': 0.01, 'epochs': 100})

# Comprehensions

In [6]:
squared = [x**2 for x in range(10)]
even_squared = {x: x**2 for x in range(10) if x % 2 == 0}

squared, even_squared

([0, 1, 4, 9, 16, 25, 36, 49, 64, 81], {0: 0, 2: 4, 4: 16, 6: 36, 8: 64})

# Lambda & Map

In [7]:
nums = [1, 2, 3, 4]

list(map(lambda x: x**2, nums))

[1, 4, 9, 16]

# Error Handling

In [8]:
try:
    x = int("abc")
except ValueError:
    print("Conversion failed")

Conversion failed

#