# Goal

Handle missing data scientifically, not blindly.

In [1]:
import pandas as pd

In [2]:
# Load data
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

# Identify Missing Values

In [3]:
df.isna().sum().sort_values(ascending=False)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64

# Drop Missing Values

In [4]:
df_drop = df.dropna()

In [5]:
# Imputation Techniques
# Mean / Median

df["Age_mean"] = df["Age"].fillna(df["Age"].mean())
df["Age_median"] = df["Age"].fillna(df["Age"].median())

In [6]:
# Mode (Categorical)
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])

In [7]:
# Sklearn Imputer
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="median")
df["Age_imputed"] = imputer.fit_transform(df[["Age"]])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_mean,Age_median,Age_imputed
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,22.0,22.0,22.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.0,38.0,38.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,26.0,26.0,26.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,35.0,35.0,35.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,35.0,35.0,35.0